<app-navbar></app-navbar>
<!-- <app-home></app-home> -->
<div class="m-3">
  <router-outlet></router-outlet>
</div>

<!-- <router-outlet></router-outlet> -->

<!-- <app-anime></app-anime> -->

<!-- 
<div class="container">
  <div class="row">
    <div class="col" *ngFor="let a of anime.data">
      <div class="card mb-3" style="width: 18rem; height: 50rem">
        <img src={{a.images.jpg.large_image_url}} class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ a.title }}</h5>
          <p class="card-text">{{ a.synopsis }}</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
